%header#top.parallax-container
  %nav{:role => "navigation"}
    .nav-wrapper.container
      %a#logo-container.brand-logo{:href => "#"}
        %img{:src => "assets/appy_kids_co_logo_web2.png"}/
      %ul.right.hide-on-med-and-down
        %li
          %a{:href => "#1"} ΠΟΙΟΙ ΕΙΜΑΣΤΕ
        %li
          %a{:href => "#2"} ΤΙ ΠΡΟΣΦΕΡΟΥΜΕ
        %li
          %a{:href => "#2"} ΣΥΛΛΟΓΟΣ ΓΟΝΕΩΝ
        %li
          %a{:href => "#2"} ΥΓΙΕΙΝΕΣ ΣΥΜΒΟΥΛΕΣ
        %li
          %a{:href => "#2"} ΧΟΝΔΡΕΜΠΟΡΟΙ
      %ul#nav-mobile.side-nav
        %li
          %a{:href => "#1"} Ποιοι είμαστε
        %li
          %a{:href => "#2"} Τι Προσφέρουμε
        %li
          %a{:href => "#2"} Σύλλογος Γονέων
        %li
          %a{:href => "#2"} Υγιεινές Συμβουλές
        %li
          %a{:href => "#2"} Χονδρέμποροι
      %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
        %i.material-icons menu
  .section.no-pad-bot
    .container
      #no_bmargin.row
        %h1#main_header.header.col.s12.m6.l4.white-text.text-lighten-2.fweight900 Φυσικά, Υγειινά & Απολαυστικά
      .row
        %h4#sub_header.header.col.s12.m6.l4.white-text 100% φυσικοί χυμοί για όλη την οικογένεια!
      .row
        #hero_button.col.s12.m6.l4
          %a#download-button.btn-large.waves-effect.waves-light.green.darken-2{:href => "http://materializecss.com/getting-started.html"} Tα Προϊοντα μας
      %br
        %br
  .parallax
    %img{:alt => 'Header Image', :height => "", :src => "assets/hero_image_002.jpg"}
.container
  .section.no-pad-bot
    %h2.header.center.green-text.text-darken-4 Ποιοι είμαστε
  .row
    .col.s12.m6.center
      %img.responsive-img{:alt => 'Appyco Logo', :height => "", :src => 'assets/appyco_logo.png'}
    .col.s12.m6.center
      %p.flow-text
        Η Appy Food & Drinks είναι μια πολύ-βραβευμένη εταιρεία στον τομέα των προϊόντων ταχείας κατανάλωσης
        (ΠΤΚ), παράγοντας υγιεινά προϊόντα με κατάλληλο τρόπο, πάντα με ειλικρίνεια και διαφάνεια. Έχουμε γνώση
        της αγοράς για περισσότερο από 10 χρόνια και το πάθος να αναπτύξουμε τα δικά μας σκευάσματα
        χρησιμοποιώντας καινοτόμα και φυσικά συστατικά, όπως η βιολογικής καλλιέργειας στέβια, έτσι ώστε να
        δημιουργήσουμε καλύτερα προϊόντα για πιο υγιείς επερχόμενες γενιές.
    .col.s12.center
      %p.flow-text
        Δίνουμε μεγάλη σημασία στην οικογένεια έναντι του κέρδους για τη δημιουργία των προϊόντων μας,
        χρησιμοποιώντας τα πιο καινοτόμα φυσικά συστατικά, όπως τη γλυκαντική ουσία στέβια, για να διασφαλίσουμε
        ότι θα είμαστε πάντα προσιτοί, οι γονείς θα μας εγκρίνουν και θα μας επιλέξουν και θα αγαπηθούμε από όλη
        την οικογένεια.
      %p.flow-text
        Να είστε σίγουροι ότι κάθε φορά που παραλαμβάνετε ένα προϊόν με το λογότυπο της Appy
        είναι χαμηλό σε θερμίδες, έχει χαμηλή περιεκτικότητα σε σάκχαρα (όλα προέρχονται από φυσικά φρούτα)
        και είναι απαλλαγμένο από οποιαδήποτε βλαβερή τεχνητή ουσία, που σημαίνει ότι φτιάχνουμε μόνο 100%
        φυσικά, νόστιμα και υγιεινά προϊόντα – αυτό αποτελεί υπόσχεσή μας!
      %p.flow-text
        Ωστόσο δεν είναι απαραίτητο να
        βασιστείτε μόνο στα λόγια μας, διότι οι χυμοί μας δεν έχουν εγκριθεί μόνο από τη Σχολική Επιτροπή αλλά
        και από την ειδική διατροφολόγο, ιατρό και ιδρύτρια του Lunchbox, Jenny Tschiesche, καθώς επίσης και
        από τον αξιόπιστo Σύλλογο Χορτοφάγων (Vegetarian Society).
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu arcu tristique, elementum velit vel,
  euismod neque. Ut auctor porttitor ipsum, at semper purus vestibulum vel. Donec quis aliquet arcu.
  Nunc sit amet purus hendrerit, vulputate sapien et, dapibus sem. Aenean varius turpis sit amet egestas
  malesuada. Mauris et blandit mi. Praesent sed dolor nisl. Interdum et malesuada fames ac ante ipsum primis
  in faucibus.
.col.s6
%p
  Praesent eget nunc in enim accumsan convallis. Maecenas risus est, aliquam sed aliquam id, pretium sit
  amet orci. Nam erat metus, hendrerit et cursus nec, posuere eget mi. Ut id erat dictum, dignissim turpis in,
  egestas dui.Suspendisse potenti. Sed mollis tempor lobortis. Quisque vitae facilisis mi. Duis maximus velit
  eu libero vulputate sodales. Nunc consequat, elit id hendrerit tempus, leo est dignissim tellus, vitae
  tincidunt dolor lectus sit amet libero. Cras eu ullamcorper lectus. Integer ac dui porta, gravida
  libero eget, molestie risus. Suspendisse potenti. Vestibulum semper, nibh sed fermentum posuere, neque
  massa bibendum ipsum, id dapibus ex metus at arcu. Nulla vestibulum eros sit amet sollicitudin varius.
.fixed-action-btn{:style => "bottom: 45px; right: 24px;"}
  %a.btn-floating.btn-medium.pink.darken-1{:href => '#top'}
    %i.large.material-icons navigation